# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser
*.perspectivev3
!default.perspectivev3

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Packages/

# CocoaPods / Carthage (미사용이지만 대비)
Pods/
Carthage/Build/
